
<%- include("header") %>

<section class="white-section" id="features">
<!-- Features -->
<div class="container-fluid tbl">
  <h2 class="section-heading">CRUD operations for items</h2>
  <div class="row">
    <div class="feature-box col-lg-4">
      <div class="col-lg-12">
      
        <form  method="POST"  autocomplete="off">
          <div class="form-group">
            <label for="dataPhase" class="form-label">Product id</label>
                <input id="dataPhase" class="form-control" list="ID" name="ProductID" />
                <datalist id="ID">
                  <% for( let i = 0; i < Products.length; i++ ) { %>
                  <option value="<%= Products[i]._id %>"><%= Products[i]._id %></option>
                  <% } %>
                </datalist>
        </div>
            <div class="form-group">
              <label for="itemNae" class="form-label">Item name</label>
              <input type="text" class="form-control" id="itemNae" name="productName" placeholder="Light">
            </div>
            <div class="form-group">
                <label for="datatPhase" class="form-label">Current Phase</label>
                    <input  id="dataPhase" class="form-control" list="currentPhase" name="productPhase" />
                    <datalist id="currentPhase">
                      <option value="Manufacturing">Manufacturing</option>
                      <option value="Testing">Testing</option>
                      <option value="Storage">Storage</option>
                      <option value="Sold">Sold</option>
                    </datalist>
            </div>
            <button type="submit" class="but btn btn-secondary" formaction="/Products">View</button>
            <button type="submit" class="but btn btn-primary" formaction="/Products/add">Add</button>
            <button type="submit" class="but btn btn-danger" formaction="/Products/Delete">Delete</button>
            <button type="submit" class="but btn btn-warning" formaction="/Products/update">Update</button>
            <button type="submit" class="but btn btn-info" formaction="/Products/view/id">View ID </button>
          </form>
      </div>
    </div>
    <div class="feature-box col-lg-8">
      <div style="overflow-y: auto; height: 400px"class="table-responsive">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Product ID</th>
              <th scope="col">Product name</th>
              <th scope="col">Current Phase</th>
              <th scope="col">Date modified</th>
            </tr>
          </thead>
          <tbody>
              <% for( let i = 0; i < Products.length; i++ ) { %>
                  <tr>
                      <th scope="row"><%= Products[i]._id %></th>
                      <td><%= Products[i].ProductName %> </td>
                      <td><%= Products[i].ProductPhase %></td>
                      <td><%= Products[i].Date%></td>
                  </tr>
              <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</section>

    
<footer class="white-section" id="footer">
  <div class="container-fluid">
    <p>© Copyright 2021 Shammah Nhlabathi</p>
    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <a class="nav-link" href="#Contact" style="color: #ff7517"><i class="social-icon fas fa-envelope"></i></a>
    
  </div>
  </footer></body>